*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: sans-serif;
}

nav{
    background-color:rgba(0, 0, 0, 0.959);
    display:flex;
    justify-content:space-between;
}

.navbar{
    margin:20px 0px 10px 20px;
}
.navbar ul{
    display:flex;
}

.navbar ul li{
    font-size:20px;
    font-weight:bold;
    list-style:none;
    width:80px;
}

.navbar a{
    text-decoration:none;
    color:white;
}

.navbar a:hover{
    transition:ease-in-out 0.5s;
    transform: 2px;
    text-decoration:underline;
    color:darkgoldenrod;
}

.social-icons img{
    margin:20px 20px 10px 0px;
    background-color:white;
    border-radius:50%;
    width:30px;
}

.social-icons img:hover{
    transition:ease-in-out 0.5s;
    transform:scale(1);
    background-color:darkgoldenrod;
}

.social-icons button{
    cursor: pointer;
    position:relative;
    bottom:20px;
    color:darkgoldenrod;
    border:2px solid darkgoldenrod;
    border-radius:50px;
    background-color:rgba(0, 0, 0, 0);
    height:40px;
    width:150px;
    margin:0px 20px 0px 0px;
}

.social-icons button:hover{
    background-color:darkgoldenrod;
    color:white;
    transition:all 1s;
}

.header{
    background-position-x:50%;
    text-align:center;
    color:white;
    background-image:url('banner2.png');
    background-size:cover;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.background-text{
    margin-top:20px;
}

.background-text h3{
    background-color:darkgoldenrod;
    font-size:40px; 
    margin-bottom:10px;
}

.background-text h2{
    font-size:70px;
    line-height:70px;
}

.background-text h1{
    font-family:sans-serif;
    font-size:100px;
    color:rgb(250, 180, 4);
}

.text-align{
    margin:20px 0px;
}

.text-align h1{
    padding-bottom:5px;
    font-size:45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(194, 139, 0);
    display:flex;
    justify-content:center;
}

.text-align h2{
    font-family:cursive;
    font-size:50px;
    display:flex;
    justify-content:center;
}

header{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.main-div{
    margin:20px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:50%;
}

.text-flex{
    padding-left:20px;
}

.text-flex h1{
    padding-bottom:5px;
    font-size:40px;
}

.text-flex p{
    padding-bottom:5px;
    line-height:20px;
    font-size:20px;
    width:400px
}

.text-flex h3{
    color:darkred;
    font-size:30px;
}

.btn{
    margin:50px 0px;
    display:flex;
    justify-content:center;
}

.btn button{
    width:70%;
    height:50px;
    border:2px solid darkred;
    border-radius:50px;
    color:darkred;
    font-size:25px;
    cursor: pointer;
    font-family:sans-serif;
}

.btn button:hover{
    background-color:darkred;
    color:white;
    transition:0.5s;
}

section{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:30px;
}

.display-images{
    display:flex;
    align-items:center;
    justify-content:center;
    width:49.75%;
    border:2px solid black;
    height:450px;
}

.display-images:nth-child(1){
    background-image:url('1\ \(2\).png');
    background-size:cover;
}

.display-images:nth-child(2){
    background-image:url('2\ \(2\).png');
    background-size:cover;
}

.center h2{
    color:darkred;
    font-size:50px;
    padding-bottom:10px;
}

.center h1{
    font-size:60px;
    font-weight:bold;
    color:white;
}

.center p{
    color:white;
    font-size:22px;
    width:400px;
    line-height:30px;
}

.center button{
    margin-top:20px;
    background-color:rgb(237, 187, 61);
    width:180px;
    height:40px;
    text-align:center;
    border-radius:20px;
    border:none;
    color:white;
    cursor: pointer;
}

.display-images:hover{
    transform:scale(1.02);
    transition:transform 0.3s linear;
}

.heading{
    margin:100px 0px;
    text-align: center;
}

.heading h1{
    font-size:60px;
    padding-bottom:40px;
    color:darkgoldenrod;
}

.heading p{
    line-height:35px;
    margin:0px 220px;
    font-size:20px;
}

.flex{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:50px 0px;
}

.flex img{
    padding:10px 20px;;
}

footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:darkgrey;
}

footer .footer-icons img{
    width:40px;
}

footer .footer-icons img:hover{
    background-color:white;
    border-radius:50%;
    transform:scale(1.5);
    transition:transform 0.5s ease-in-out;
    margin:0px 10px;
}

footer .footer-icons{
    margin:70px 0px 70px 0px;
}

footer .footer-flex{
    margin:70px 0px 70px 0px;
}

footer h1{
    font-size:35px;
    padding-bottom:10px;
}

footer p{
    font-size:20px;
    padding-bottom:10px;
}

footer input{
    border-radius:5px;
    text-align:center;
    width:250px;
    height:30px;
    border:none;
}

.end{
    text-align: center;
    background-color:black;
    color:white;
    padding:20px 0px;
    font-size:12px;
}

/* MediaQueries Of 1172px */
@media(max-width:1172px){
.text-flex{
    text-align:center;
}
}

/* MediaQueries of 991px */
@media(max-width:991px){
.display-images:nth-child(1){
    padding:0px 5px 0px 40px;
    height:400px;
}

.display-images:nth-child(2){
    padding:0px 5px 0px 40px;
    height:400px;
}

.center h2{
    font-size:25px;
}

.center h1{
    font-size:35px;
}

.center p{
    width:350px;
    font-size:16px;
}

.heading h1{
    font-size:50px;
    padding-bottom:30px;
}

.heading p{
    line-height:30px;
    margin:0px 40px;
    font-size:18px;
}
}

/* MediaQueries Of 790px */
@media(max-width:790px){
.navbar ul li{
    font-size:16px;
    width:70px;
}


.social-icons img{
    width:25px;
    margin:20px 10px 10px 0px;
}

.social-icons button{
    height:35px;
    width:130px;
}

.main-div{
    width:60%;
}

section{
    margin-bottom:0px;
}

.display-images{
    text-align:center;
    width:100%;
    border:2px solid black;
    height:350px;
}

.center h2{
    color:darkred;
    font-size:50px;
    padding-bottom:10px;
}

.center h1{
    font-size:60px;
    font-weight:bold;
    color:white;
}

.center p{
    color:white;
    font-size:22px;
}

footer .footer-icons img{
    width:30px;
}

footer .footer-icons{
    text-align: center;
    width:100%;
    margin:40px 0px 40px 50px;
}


footer .footer-flex{
    text-align: center;
    width:100%;
    margin:40px 0px 0px 50px;
}
}

/* MediaQueries Of 650px */
@media(max-width:650px){
.social-icons img{
  display:none;
}

.social-icons button{
    bottom:0px;
    margin:10px 20px 10px 0px;
}

.header{
    background-position-x:50%;
    background-image:url('1\ \(2\).png');
    height:60vh;
}

.background-text{
    margin-top:20px;
}

.background-text h3{
    background-color:rgba(0, 0, 0, 0.311);;
    color:darkgoldenrod;
    font-size:30px; 
}

.background-text h2{
    font-size:40px;
    line-height:40px;
}

.background-text h1{
    font-size:70px;
}

.text-align h1{
    font-size:30px;
}

.text-align h2{
    font-size:30px;
}

.main-div{
    width:100%;
}

section{
    margin-bottom:0px;
}

.display-images{
    text-align:center;
    width:100%;
    border:2px solid black;
    height:350px;
}

.center h2{
    color:darkred;
    font-size:40px;
    padding-bottom:10px;
}

.center h1{
    font-size:40px;
    font-weight:bold;
    color:white;
}

.center p{
    color:white;
    font-size:18px;
}

.heading h1{
    font-size:40px;
    padding-bottom:20px;
    color:darkgoldenrod;
}

.heading{
    margin:50px 0px;
}

.heading p{
    line-height:25px;
    font-size:20px;
}

footer .footer-icons img{
    width:30px;
}

footer .footer-flex{
    text-align: center;
    width:100%;
    margin:40px 0px 0px 0px;
}

footer .footer-icons{
    text-align: center;
    width:100%;
    margin:40px 0px 40px 0px;
}

footer h1{
    font-size:28px;
}

footer p{
    font-size:16px;
}
}

/* MediaQueries Of 460px */
@media(max-width:460px){
.navbar ul li{
    font-size:12px;
    width:55px;
}

.social-icons img{
  display:none;
}

.social-icons button{
    bottom:0px;
    margin:10px 20px 10px 0px;
}

.header{
    background-image:url('1\ \(2\).png');
    height:60vh;
}

.background-text{
    margin-top:20px;
}

.background-text h3{
    background-color:rgba(0, 0, 0, 0.311);;
    color:darkgoldenrod;
    font-size:30px; 
}

.background-text h2{
    font-size:40px;
    line-height:40px;
}

.background-text h1{
    font-size:70px;
}

.text-flex{
    padding-left:0px;
}

.text-flex h1{
    font-size:30px;
}

.text-flex p{
    font-size:16px;
    width:300px
}

.text-align h1{
    font-size:30px;
}

.text-align h2{
    font-size:30px;
}

.main-div{
    width:100%;
}

section{
    margin-bottom:0px;
}

.display-images{
    text-align:center;
    width:100%;
    border:2px solid black;
    height:350px;
}

.center h2{
    color:darkred;
    font-size:40px;
    padding-bottom:10px;
}

.center h1{
    font-size:40px;
    font-weight:bold;
    color:white;
}

.center p{
    color:white;
    font-size:18px;
}

.heading h1{
    font-size:40px;
    padding-bottom:20px;
    color:darkgoldenrod;
}

.heading{
    margin:50px 0px;
}

.heading p{
    line-height:25px;
    font-size:20px;
}

footer .footer-icons img{
    width:30px;
}

footer .footer-flex{
    text-align: center;
    width:100%;
    margin:40px 0px 0px 0px;
}

footer .footer-icons{
    text-align: center;
    width:100%;
    margin:40px 0px 40px 0px;
}

footer h1{
    font-size:28px;
}

footer p{
    font-size:16px;
}
}
